midterm_project
final_project/final_report.aux
final_project/final_report.bbl
final_project/final_report.fdb_latexmk
final_project/final_report.blg
final_project/final_report.fls
final_project/final_report.log
final_project/final_report.out
final_project/final_report.tex
final_project/cvpr.sty
final_project/main.bib
final_project/preamble.tex
final_project/outputFrames
final_project/outputVideo
final_project/final_report.synctex.gz
final_project/final_report.tex
